<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.khclub"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 查看 Wi-Fi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 控制振动器 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:name="com.app.khclub.base.app.KHApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.app.khclub.login.ui.activity.LaunchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Login -->
        <activity android:name="com.app.khclub.login.ui.activity.LoginActivity" >
        </activity>
        <activity android:name="com.app.khclub.login.ui.activity.SecondLoginActivity" >
        </activity>
        <activity android:name="com.app.khclub.login.ui.activity.RegisterActivity" >
        </activity>

        <!-- Common -->
        <activity android:name="com.app.khclub.base.ui.activity.MainTabActivity" />
        <activity android:name="com.app.khclub.base.ui.view.gallery.imageloader.GalleyActivity" />

        <!-- 动态 -->
        <activity android:name="com.app.khclub.base.ui.activity.BigImgLookActivity" >
        </activity>
        <activity android:name="com.app.khclub.news.ui.activity.NewsDetailActivity" >
        </activity>
        <activity android:name="com.app.khclub.news.ui.activity.PublishNewsActivity" >
        </activity>
        <activity android:name="com.app.khclub.news.ui.activity.ChoiceLocationActivity" >
        </activity>
        <activity android:name="com.app.khclub.news.ui.activity.PublisPhotoHandelActivity" >
        </activity>
        <activity android:name="com.app.khclub.news.ui.activity.NoticeActivity" >
        </activity>

        <!-- Me -->
        <activity
            android:name="com.app.khclub.personal.ui.activity.PersonalSettingActivity"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="com.app.khclub.personal.ui.activity.PersonalDescActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity android:name="com.app.khclub.personal.ui.activity.OtherPersonalActivity" >
        </activity>
        <activity android:name="com.app.khclub.personal.ui.activity.PersonalNewsActivity" >
        </activity>

        <!-- 云巴部分 -->
        <service android:name="io.yunba.android.core.YunBaService" >
        </service>

        <receiver android:name="io.yunba.android.core.YunBaReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.app.khclub.base.receiver.PushReceiver"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="io.yunba.android.MESSAGE_RECEIVED_ACTION" />
                <action android:name="io.yunba.android.PRESENCE_RECEIVED_ACTION" />
                <action android:name="io.yunba.android.MESSAGE_CONNECTED_ACTION" />
                <action android:name="io.yunba.android.MESSAGE_DISCONNECTED_ACTION" />

                <category android:name="com.app.khclub" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="YUNBA_APPKEY"
            android:value="5616180ae6b2257059049482" />
        <!-- 高德部分 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="dcfc269c2e9c8d084aec3245924315c2" />
    </application>

</manifest>